<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
      #h{
        color: rgb(255, 4, 0);
        font-size: 25px;
      }
    </style>

    <h1>Welcom to delete</h1>
    <header>
        <nav>
            <a id="h" href="/home">Home</a>
            <a href="/read">Read</a>
            <a href="/update">Update</a>
            <a href="/create">Create</a>
        </nav>

        <main>
             <form id="delete"  action="">
        <label for="name">Student Name</label>
        <input type="text" name="name" />
        <label for="id">Id</label>
        <input type="text" name="id" />
        <label for="age">Age</label>
        <input type="number" name="age" />
        <label for="grades">Grades</label>
        <input type="number" name="grades" />
        <button id="deleteBtn" type="submit">Delet</button>
      </form>


         <!-- <button id="deleteBtn">delete</button> -->
        </main>
    </header>
    <script src="delete.js"></script>



</body>
</html>